<div class="form-container">
    <h1><%= title %></h1>
  
    <% if (errors) { %>
    <ul class="flash-message-error">
      <% errors.array().forEach(error => { %>
      <li><%= error.msg %></li>
      <% }) %>
    </ul>
    <% } %>

    <p class="delete-warning">Confirm Deletion - The delete is permanent.</p>
  
    <form action="/inv/delete" method="post">
      
      <input type="hidden" name="inv_id"
      <% if(locals.inv_id) { %> value="<%= locals.inv_id %>"
      <% } %>>
  
     
      <!-- Inventory Make -->
      <label for="inv_make">Inventory Make:</label>
      <input
        type="text"
        id="inv_make"
        name="inv_make"
        readonly
        value="<%= inv_make %>"
      />
  
      <!-- Inventory Model -->
      <label for="inv_model">Inventory Model:</label>
      <input
        type="text"
        id="inv_model"
        name="inv_model"
        readonly
        value="<%= inv_model %>"
      />
  
     
      <!-- Inventory Price -->
      <label for="inv_price">Price:</label>
      <input
        type="number"
        id="inv_price"
        name="inv_price"
        step="0.01"
        readonly
        value="<%= inv_price %>"
      />
  
      <!-- Inventory Year -->
      <label for="inv_year">Year:</label>
      <input
        type="number"
        id="inv_year"
        name="inv_year"
        readonly
        value="<%= inv_year %>"
      />
  
      <button type="submit">Delete Vehicle Inventory</button>
    </form>
  </div>
  
  