<h1 class="vehicle-detail-title"><%= title %></h1>
<div class="flash-message"><%- messages() %></div>
<div class="vehicle-container"><%- vehicleDetails %></div>
<hr>

<h2>Client Comments</h2>

<% if (comments.length > 0) { %>
<ul class="comment-list">
  <% comments.forEach(comment => { %>
  <li>
    <strong
      ><%= comment.account_firstname %> <%= comment.account_lastname %></strong
    >
    <small>(<%= new Date(comment.comment_date).toLocaleString() %>)</small
    ><br>
    <div class="comment-body">
    <p><%= comment.comment_text %></p>

    <% if (user && user.account_id === comment.account_id) { %>
        <form
            action="/comment/delete/<%= comment.comment_id %>?invId=<%= vehicle.inv_id %>"
            method="POST"
            onsubmit="return confirm('Are you sure you want to delete this comment?');"
        >
            <button type="submit" class="comment-delete-btn">Delete</button>
        </form>
    <% } %>
    </div>
  </li>
  <% }); %>
</ul>
<% } else { %>
<p>No comments yet. Be the first to leave one!</p>
<% } %> <% if (user) { %>
<form action="/comment/add-comment" method="POST" class="comment-form">
  <label for="comment_text">Leave a Comment:</label><br>
  <textarea
    id="comment_text"
    name="comment_text"
    rows="4"
    cols="50"
    required
  ></textarea>
  <input type="hidden" name="inv_id" value="<%= invId %>">
  <input type="hidden" name="account_id" value="<%= user.account_id %>">
  <br>
  <button type="submit">Comment</button>
</form>
<% } else { %>
<p><a href="/account/login">Log in</a> to leave a comment.</p>
<% } %>
